body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
   
    height: auto;
    overflow:inherit;
    background: linear-gradient(rgba(29, 43, 197, 0.5),rgba(100, 41, 160, 0.6));
  }
  
  .row{
    width: 60%;
    position: absolute;
    left: 20%;
    top: 30%;
  }
  
   .column {
    float: left;
    width: 31%;
    padding: 50px;
    border: 1px solid black;
    margin: 1%;
    text-align: center;
    font-size: 25px;
    cursor: pointer;  
    background: rgba(255,255,255,0.2)
  }
  
  .column img{
    max-width: 90%;
  }
  
  .rating{
    max-width: 95%;
  }
  .checked {
    color: orange;
  }
  form .textfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
     
  .textfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  

  
  form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px 0 0 5px;
    float: left;
    width: 93%;
    /* font-family:cursive; */
    background: #f1f1f1;
  }
  
  form button[type=submit]{
    float: right;
    width: 7%;
    padding: 10px;
    background:#625e6a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0 5px 5px 0;
    border-left: none;
    cursor: pointer;
  }
  
  form {  
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;  
    padding-top: 5%;
    position: relative;
    border-bottom: 0px ;
  }
  
  .error {
    display: block;
    text-align:left;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box;
    color: rgb(150, 15, 15);
    margin: 0 0 25PX 0;
    font-size: 16px;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color: #af2860;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  /* .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  } */
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  @keyframes click-wave {
    0% {
      height: 10px;
      width: 10px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 2rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #6187b5;
  }
  .option-input:checked {
    background: #222738;
  }
  .option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '🎧';
    display: inline-block;
    font-size: 20.66667px;
    color:black;
    text-align: center;
    line-height: 30px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #3c514f;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
  .type{
    font-family: sans-serif;
    font-weight: bold;
  }
  